.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    height: 128px;
    width: 100%;
    background: #e5e6e6;
    border-bottom: 5px solid #929497;
}

    .header-bottom {  
        display: flex;
        justify-content: center;
        height: 81px;
    }

    .header-bottom .crop {
        margin-top: -5px;
    }

    .header-bottom img {
        margin-left: -1px;
        height: 81px;
        width: auto;
    }

    .header-bottom .bottom {
        box-sizing: border-box;
        margin-top: -5px;
        height: 81px;
        width: 40vw;
        background: #e5e6e6;
        border-bottom: 5px solid #929497;
    }

.header div.circles {
    display: flex;
    align-items: center;
}

.header .title {    
    display: flex;
    align-items: center;
}

.header div.title img {
    max-height: 150px;
    margin-top: 70px;
    z-index: 2;
}

.header img.circle {
    max-height: 68px;
}

img#circle1, img#circle2 {
    margin-left: 5vw;
}

img#circle3, img#circle4 {
    margin-right: 5vw;
}

@media only screen and (max-width: 768px) {
    .header {
       height: 100px; 
    }

    .header img.circle {
        max-height: 40px;
    }

    .header div.title img {
        max-height: 80px;
        margin-top: 30px;
    }

    .header-bottom .crop {
        max-width: 40px; 
        overflow: hidden;
    }

    .header-bottom .crop:first-child {
        text-indent: 12px;
    }

    .header-bottom .crop:last-child {
        text-indent: -31px;
    } 

    .crop img {
        max-width: initial;
    }

    .header-bottom .bottom {
        height: 40px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    .header div.title img {
        height: 120px;
        margin-top: 70px;
    }

    .header img.circle {
        max-height: 60px;
    }
}

@media only screen and (min-width: 992px) {

    .header div.title img {
        height: 136px;
        margin-top: 70px;
    }

    .header img.circle {
        max-height: 68px;
    }
}

