.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    position: relative;

    height: 128px;
    width: 100%;
    background: #e5e6e6;
    border-bottom: 5px solid #929497;
}

.header div.circles {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header div.title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    max-width: 40%;
    height: 200px;
}

.header div.title-img {    
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;

    height: 200px;
    background: #e5e6e6;
    border-bottom: 5px solid #929497;
}

.header div.title img {
    max-height: 128px;
    /*margin: 0 18px;*/
}

.triangle1 {
    display: flex;
    float: right;
    align-self: flex-end;

    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 60px 70px 0;
    border-color: transparent #929497 transparent transparent;
}

.triangle2 {
    width: 0;
    height: 0;
    margin-top: -5px;
    border-style: solid;
    border-width: 0 60px 70px 0;
    border-color: transparent #e5e6e6 transparent transparent;
}

.header img.circle {
    max-height: 61px;
}

img#circle1, img#circle2 {
    margin-left: 78px;
}

img#circle3, img#circle4 {
    margin-right: 78px;
}