* {
    margin: 0;
    padding:0;
}

.logo-bar {
    display: flex;
    flex-direction: row;
    align-items: center;

    height: 76px;
    background: #f1f1f2;
    border-bottom: 1px solid #ebecec;

    padding-left: 66px;
}

.logo-bar a {
    display: inline-block;
}

.logo-bar a img {
    height: auto;
    margin-right: 52px;
    max-height: 42px;
}

#unicef {
    max-height: 26px;
}

/******************************************************************/

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    position: relative;

    height: 128px;
    width: 100%;
    background: #e5e6e6;
    border-bottom: 5px solid #929497;
}

.header div.circles {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header div.title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    max-width: 40%;
    height: 200px;
}

.header div.title-img {    
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;

    height: 200px;
    background: #e5e6e6;
    border-bottom: 5px solid #929497;
}

.header div.title img {
    max-height: 128px;
    /*margin: 0 18px;*/
}

.triangle1 {
    display: flex;
    float: right;
    align-self: flex-end;

    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 60px 70px 0;
    border-color: transparent #929497 transparent transparent;
}

.triangle2 {
    width: 0;
    height: 0;
    margin-top: -5px;
    border-style: solid;
    border-width: 0 60px 70px 0;
    border-color: transparent #e5e6e6 transparent transparent;
}

.header img.circle {
    max-height: 61px;
}

img#circle1, img#circle2 {
    margin-left: 78px;
}

img#circle3, img#circle4 {
    margin-right: 78px;
}

/*************************************/

.register {
    display: flex;
    flex-direction: column;
    justify-content: center;

    background-image: url("../img/space.jpg");
    height: 372px;
    overflow: hidden;

}

.register h2 {
    align-self: center;

    font-size: 34px;
    text-shadow: 0 0 3px #70cce9;
    color: #70cce9;
    font-family: "Arial Regular", Arial, serif;
    font-weight: normal;
}

.register a {
    align-self: center;

    margin-top: 30px;

    padding:  20px 30px;

    font-size: 25px;
    color: white;
    text-shadow: 0 0 10px #a350af;
    text-decoration: none;

    border: 1px solid white;
    box-shadow: 0 0 15px 3px #a350af;

    border-radius: 8px;

    font-family: "Arial Regular", Arial, serif;
    font-weight: normal;
}

/***********************************/

.bottom-gates {
    display: flex;
    justify-content: space-between;

    margin-top: -82px;
    z-index: 2;
}

.gate {
    display: flex;

    width: 50%;
    max-height: 82px;
}

.gate #main {
    width: 50%;
}

.gate #main div:first-child{
    height: 5px;
    background: #ffffff;
    border-bottom: 1px solid #76787c;
}

.gate #main div:last-child {
    box-sizing: border-box;
    height: 76px;
    background: #e5e6e6;
}

.triangle3 {
    display: flex;
    float: right;
    align-self: flex-end;

    width: 0;
    height: 0;
    border-style: solid;
    border-width: 81px 0 0 60px;
    border-color: transparent transparent transparent white;
    margin-bottom: 1px;
}

.triangle4 {
    width: 0;
    height: 0;
    margin-top: -76px;
    margin-left: -60px;
    border-style: solid;
    border-width: 77px 0 0 56px;
    border-color: transparent transparent transparent #76787c;
}

.triangle5 {
    width: 0;
    height: 0;
    margin-top: -76px;
    margin-left: -56px;
    border-style: solid;
    border-width: 76px 0 0 55px;
    border-color: transparent transparent transparent #e5e6e6;
}

.middle-gate{
    height: 5px;
    background: #ffffff;
    border-bottom: 1px solid #76787c;
    margin-top: -6px;
    z-index: 1;
}

/*************************/

.content {
    display: flex;
    height: 535px;
    background: #e5e6e6;
    padding: 33px 0;
}

.location, .about, .tour {
    box-sizing: border-box;
}

.location {
    padding: 0 20px 0 40px;
}

.about {
    padding: 0 40px 0 20px;
}

.location, .about {
    width: calc(25% + 55px);
    height: 100%;
}

.tour {
    display: flex;
    justify-content: space-between;
    width: calc(50% - 110px);
    height: 100%;
}   

.block-decoration {
    display: flex;

    height: 40px;
    width: 100%;
}

.divider {
    width: 15%;
    height: 100%;
    border-top: 3px solid #929497;
    border-right: 3px solid white;
    border-bottom: 3px solid white;
    border-left: 3px solid #929497;
}

.cross img {
    max-height: 40px;
    height: 40px;
    width: auto;
}

.middle-block {
    height: 100%;
    width: 80%;
    margin: 0 20px;
    box-sizing: border-box;
    border-radius: 20px;
    box-shadow: 3px 3px #babcbe inset, 3px 3px #fff;
}

.main-block {
    margin: 20px 0;
    width: 100%;
    min-height: 50px;
    box-sizing: border-box;
    border: 4px solid #cfd1d2;
    border-radius: 6px;
    box-shadow: 2px 2px #fff inset, 2px 2px #fff;
}

.main-block div:first-child,  .main-block div:last-child{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.main-block > div:nth-child(2) {
    margin: 0 20px;
    width: auto;
    box-sizing: border-box;
    border: 4px solid #cfd1d2;
    border-radius: 6px;
    box-shadow: 2px 2px #fff inset, 2px 2px #fff;
}

.deco {
    height: 31px;
    width: 32px;
}

.btn {
    color: white;
    font-family: Arial;
    font-size: 32px;
    background-image: linear-gradient(#fff, #ff073b);
    box-shadow: 2px 2px #bbbdbf inset, 2px 2px #fff;
    border-radius: 10px;
    text-decoration: none;
    margin: 15px 0;
    padding: 10px 52px;
}

.smallcircles {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.smallcircles img {
    width: 12px;
    height: 11px;
}

.window {
    padding: 10px;
}

.window img {
    width: 100%;
    height: auto;
}